{% extends 'base.html' %}

{% block content %}
<h1>Please signup!!!!</h1>

<form name="f1" action="signup" method="POST">
    {% csrf_token %}
    Enter Username:<input type="text" name="username"><br>
    Enter Email ID:<input type="text" name="email"><br>
    Enter Password:<input type="password" name="password"><br>
    Retype Password:<input type="password" name="repassword"><br>
    <input type="submit" value="Sign up">
</form>

<div>
    {%for i in messages%}
    <h3>{{i}}</h3>
    {% endfor %}
</div>
{% endblock %}